@CHARSET "ISO-8859-1";
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.prodcolumn {
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.prodrow:after {
    content: "";
    display: table;
    clear: both;
}
input[type=button] {
    background-color: #0080c0;
    color: white;
    padding: 7px 7px;
    margin: 2px 2px;
    border: none;
    cursor: pointer;
    width: 25%;
}
   
.zoom {      
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;     
cursor: -webkit-zoom-in;      
cursor: -moz-zoom-in;      
cursor: zoom-in;  
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
/**adjust scale to desired size, 
add browser prefixes**/
-ms-transform: scale(2.5);    
-moz-transform: scale(2.5);  
-webkit-transform: scale(2.5);  
-o-transform: scale(2.5);  
transform: scale(2.5);    
position:relative;      
z-index:100;  
}

/**To keep upscaled images visible on mobile, 
increase left & right margins a bit**/  
@media only screen and (max-width: 300px) {   
ul.gallery {      
margin-left: 15vw;       
margin-right: 15vw;
}

/**TIP: Easy escape for touch screens,
give gallery's parent container a cursor: pointer.**/
.DivName {cursor: pointer}
}